<a href="https://colab.research.google.com/github/srija747/python/blob/main/Python_Learning_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?
* list - list is mutable we can change the elements of the list
* tuple - tuple is immutable we cannot change the elements of the tuple
* list - list is constructed using "[]" square brackets
* tuple - tuple is constructed using "()" parentheses

In [ ]:
l=[1,2,3]
type(l)

list

In [ ]:
t=(1,2,3)
type(t)

tuple

## 2.How list is different from an array?
* list - list with different datatypes is called list
* array - list ith same datatype is called array

In [ ]:
l=[1,1.5,"hello",True]
print(l)

[1, 1.5, 'hello', True]

In [ ]:
a=[1,2,3,4]
print(a)

[1, 2, 3, 4]

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
lis=[1,2,3,4]
lis.append(5)
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
lis=[1,2,3,4,5,6]
print(lis)
lis1=lis.copy()
print(lis1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
lis=['a','b','c']
print(lis)
lis.clear()
print(lis)

['a', 'b', 'c']
[]

In [ ]:
lis=['a','b','c','d','d','d','d']
print(lis.count('d'))

4

In [ ]:
lis1=['a','b','c']
lis2=['1','2','3']
lis1.extend(lis2)
print(lis1)

['a', 'b', 'c', '1', '2', '3']

In [ ]:
lis=['s','r','i','j','a']
r=lis.index('a')
print(r)

4

In [ ]:
lis=["hello","friends"]
lis.insert(2,"good evening")
print(lis)

['hello', 'friends', 'good evening']

In [ ]:
lis=[1,2,3,4,9,7]
lis.pop(5)
print(lis)

[1, 2, 3, 4, 9]

In [ ]:
lis=[1,2,3,4,5]
lis.reverse()
print(lis)

[5, 4, 3, 2, 1]

In [ ]:
lis=[9,7,10,1,4,3,2]
lis.sort()
print(lis)

[1, 2, 3, 4, 7, 9, 10]

In [ ]:
lis=[1,2,3,4,5]
a=min(lis)
print(a)

1

In [ ]:
lis=[1,2,3,4,5]
a=max(lis)
print(a)

5

In [ ]:
lis=[1,2,3,4]
a=sum(lis)
print(a)

10

## 4, How would you divide the list into two parts?

In [ ]:
lis=[1,2,3,4,5]
l1=lis[len(lis)//2:]
l2=lis[:len(lis)//2]
print(l1)
print(l2)

[3, 4, 5]
[1, 2]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
a=[1,2,3,4,5,6,7,8,21,23,24]
b=[i for i in a if i%3 == 0]
print(b)
c=[j for j in b if j%2==0]
print(c)

[3, 6, 21, 24]
[6, 24]

## 6. How you can access keys and values simultaneously and update its value

In [ ]:
k={1:'a',2:'b',3:'c',4:'d'}
p={1:'d',2:'c',3:'b',1:'a'}
for key,value in k.items():
  print(key,value)
print("now updating the values:")
for i,j in k.items():
  j=chr(97+i)
  print(i,j)

1 a
2 b
3 c
4 d
now updating the values:
1 b
2 c
3 d
4 e

In [ ]:
p={1:'d',2:'c',3:'b',1:'a'}
k={1:'a',2:'b',3:'c',4:'d'}
p.update(k)
print(p)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

## 7. Write python program to join, merge, concatente the two dictionaries..

In [ ]:
a={1:'a',2:'b',3:'c',4:'d'}
b={5:'e',6:'f',7:'g'}
a.update(b)
print(a)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

## 8. How would you check a specific keys from the dictionary??

In [ ]:
a={1:'a',2:'b',3:'c'}
for i in a:
  print(a[i])

enter2
a
b
c

## 9. write a python program to find the unique vowel present in the sentence

In [ ]:
def co(s,v):
    count=dict.fromkeys(v,0)
    for i in s:
        if i in count:
            count[i]+=1
    print(count)
    m=list(count.keys())
    n=list(count.values())
    print(m)
    print(n)
    for k in range(0,len(m)):
        if n[k] == 1 :
            print(m[k])

v='aeioeAEIOU'
s='vishnu vardhan'
co(s,v)

{'a': 2, 'e': 0, 'i': 1, 'o': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}
['a', 'e', 'i', 'o', 'A', 'E', 'I', 'O', 'U']
[2, 0, 1, 0, 0, 0, 0, 0, 0]
i

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [19]:
t1=(1,2,3,4)
t2=(5,6,7)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7)

In [23]:
t=(1,2,3,4)
l=list(t)
l.append(5)
t=tuple(l)
print(t)

(1, 2, 3, 4, 5)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [35]:
l=[(2,3),(4,5),(6,4)]
l1=[]
r=0
for i in l:
  for j in i:
    r=r+j
  l1.append(r)
  r=0
print(l1)
t=([2,3],[4,5],[6,4])
t2=()
lis=list(t2)
p=0
for m in t:
  for n in m:
    p=p+n
  lis.append(p)
  p=0
t2=tuple(lis)
print(t2)

[5, 9, 10]
(5, 9, 10)

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [54]:
a={1:'a',2:'b',3:'c'}
l1=list(a.keys())
r=0
l2=list(a.values())
l3=[]
for i in l1:
  r=l1.count(i)
  l3.append(r)
d=dict(zip(l1,l3))
print(d)

[1, 1, 1]
{1: 1, 2: 1, 3: 1}